@import "tailwindcss";

:root {
  --foreground: #171717;
  --background: #ffffff;
  
  --type-normal: #A8A878;
  --type-fire: #F08030;
  --type-water: #6890F0;
  --type-electric: #F8D030;
  --type-grass: #78C850;
  --type-ice: #98D8D8;
  --type-fighting: #C03028;
  --type-poison: #A040A0;
  --type-ground: #E0C068;
  --type-flying: #A890F0;
  --type-psychic: #F85888;
  --type-bug: #A8B820;
  --type-rock: #B8A038;
  --type-ghost: #705898;
  --type-dragon: #7038F8;
  --type-dark: #705848;
  --type-steel: #B8B8D0;
  --type-fairy: #EE99AC;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-left: 2px solid #000000;
  border-right: 2px solid #000000;
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
  border: 2px solid #000000;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #cc0000;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ff0000 #ffffff;
}
